<h1>Edit customer</h1>
<%= form_with model: @customer,local:true do|form|%>

<p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </p>

  <p>
    <%= form.label :email %><br>
    <%= form.text_area :email %>
  </p>

  <p>
    <%= form.submit %>
  </p>

<% end %>