
<h1>New Customer</h1>
<%= form_with model:[@employee,@employee.customers.build],local:true do|form|%>
  <% if @customer.errors.any? %>
      <div id="error_explanation">
        <h2>
          <%= pluralize(@customer.customer.errors.count, "error") %> prohibited
          this customer from being saved:
        </h2>
        <ul>
          <% @customer.customer.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
<p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </p>

  <p>
    <%= form.label :email %><br>
    <%= form.text_area :email %>
  </p>

  <p>
    <%= form.submit %>
  </p>

<% end %>